/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-family: "Nunito", serif;
	line-height: normal;
}

body.ReactModal__Body--open {
	overflow: hidden;
}

@font-face {
  font-family: "Nunito";
	src: url("/fonts/Nunito-Regular.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: "Nunito";
	src: url("/fonts/Nunito-Italic.ttf");
	font-weight: normal;
	font-style: italic;
}

@font-face {
  font-family: "Nunito";
	src: url("/fonts/Nunito-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: "Nunito";
	src: url("/fonts/Nunito-Light.ttf");
	font-weight: lighter;
	font-style: normal;
}

strong {
  font-weight: bold;
}
